@inherits LayoutComponentBase

<div class="main-layout">
    <main>

        <div class="content px-4">
            <nav><a style="font-size: 50px" href="/">SoccerInfo.com</a></nav>

            <nav>

                <a href="/leagues">Ligi</a>
                <a href="/teams">Drużyny</a>
                <a href="/players" >Zawodnicy</a>
                <a href="/dashboard" class="btn">Profil</a>

            </nav>
            @Body
        </div>
    </main>
</div>

@code {
}